apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - ingress-public.yaml

namespace: leaderlist

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
  - name: leader-stream-secrets
    envs:
      - secret.env
